queues:
  alpha:
    status: CLOSED
    maximumQueueSize: 0
    positionTaskDelay: 5
    pushTaskDelay: 10
  beta:
    status: OPEN
    maximumQueueSize: 0
    positionTaskDelay: 5
    pushTaskDelay: 10

priorities:
  alpha:
    permission: alpha.beta
    weight: 1

messages:
  queueHelpCommand:
    - '&7&m--------&r &6Queues &7&m--------'
    - '&6/queue join <identifier> &8- &7Join a queue.'
    - '&6/queue leave &8- &7Leave a queue.'
    - '&6/queue set size <identifier> <size> &8- &7Set the maximum size of the queue.'
    - '&6/queue set status <identifier> <status> &8- &7Set the status of a queue.'
    - '&6/queue set priority permission <identifier> <permission> &8- &7Set the permission
    for a queue priority.'
    - '&7&m--------&r &6Queues &7&m--------'
  queueJoinCommand:
    invalidIdentifier: '&7The identifier (&6%identifier%&7) provided is invalid.'
    sameServer: '&7You are already connected to &6%identifier%&7.'
    alreadyQueued: '&7You are already in queue for &6%identifier%&7.'
    joinedQueue: '&7You have been queued for &6%identifier%&7.'
  queueLeaveCommand:
    notQueued: '&7You are currently not queued.'
    leftQueue: '&7You have left the queue for &6%identifier%&7.'
  queueSetStatusCommand:
    sameStatus: '&7The queue status for &6%identifier%&7 is already set to &6%status%&7.'
    statusChange: '&7The queue status for &6%identifier% &7has been set to &6%status%&7.'
    invalidIdentifier: '&7The identifier (&6%identifier%&7) provided is invalid.'
    invalidStatus: '&7The status (&6%status%&7) provided is invalid.'
  queueSetSizeCommand:
    sameSize: '&7The queue size for &6%identifier%&7 is already set to &6%size%&7.'
    sizeChange: '&7The queue size for &6%identifier% &7has been set to &6%size%&7.'
    invalidIdentifier: '&7The identifier (&6%identifier%&7) provided is invalid.'
    invalidSize: '&7The size (&6%size%&7) provided is invalid, please ensure it is
      not negative.'
  queueSetPriorityPermissionCommand:
    samePermission: '&7The permission for &6%identifier%&7 is already set to &6%permission%&7.'
    permissionChange: '&7The permission for &6%identifier% &7has been set to &6%permission%&7.'
    invalidIdentifier: '&7The identifier (&6%identifier%&7) provided is invalid.'
  positionTask: '&7You are in position &6%position%&7 of &6%size%&7 for &6%identifier%&7.'
  pushTask: '&7Attempting to connect you to &6%identifier%&7.'